.AppBar {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 50px;
  font-weight: 700;
  background-color: #738a93;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
}
