.card {
  /* width: 306px; */
  border: 1px solid #eaeaea;
}

.galleryList li {
  width: 306px;
}

.points {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.icon {
  margin-right: 5px;
}

.thumb {
  padding: 20px 10px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
